version: '3.4'
services:
  nginx:
    ports:
    - 80:80
  php:
    build:
      dockerfile: ./docker/php/Dockerfile
      context: ../
    ports:
      - 9000:9000
    volumes:
      - ../app:/app
#      - /app/vendor
  db:
    ports:
      - "5432:5432"